{% extends 'base.html'%}

{% block content %}
{% if user.is_authenticated %}
<li><a href="{% url 'logout' %}"> Logout </a></li>
{% else %}
    <li><a href="{% url 'login' %}"> Login </a></li>
    {% endif%}
<h1>To-Do List</h1>

{% for task in tasks%} <a href ="{{task.get_dynamic_url}}">
    <p>Task: {{ task.task_name }}</p></a>
    <p>Due Date: {{ task.due_date }}</p>
    <p>Creation Date: {{ task.creation_date }}</p>
    <p>Completion Date: {{ task.completion_date }}</p>
    <p>Status: {{ task.status }}</p>
    <hr>
{% endfor %}
{% endblock content %}
